@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Metal Mania";
    src: url("/fonts/MetalMania-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.metal {
	font-family: 'Metal Mania', cursive;
}
